// Font Families 
$font-text: 'Lato', sans-serif
$font-title: 'Fira Sans', sans-serif

// Candy Color Accents
$brand-green: #1de9b6
$brand-blue: #108DC3
$brand-gradient: linear-gradient(-40deg, $brand-green 10%, $brand-blue 100%)
$brand-gradient-accent: linear-gradient(-40deg, darken($brand-green, 3%) 10%, darken($brand-blue, 3%) 100%)

// Font Colors
$expanded-nav-item-color: $grey
$font-accent: darken($grey-dark, 25%)
$font-feature-subtitle: darken($grey-dark, 10%)
$font-feature-text: darken($grey-dark, 7%)
$font-green-emphasis: darken(saturate($brand-green, 10%), 10%)
$font-footer-text: $grey
$font-footer-link: $white-bis

// Background Colors
$bg-accent: $grey
$bg-nav: $black-ter
$bg-footer: $black-bis