.htw-app-title
    font-size: 3rem

.htw-header
    height: 7.5vh
    margin-bottom: 5vh

.htw-main-screen
    height: 90vh

.htw-scene-results
    margin-top: 2.5rem
    max-height: 60vh

.htw-controls
    margin-top: 1rem
    &:focus
        border-color: darken($pink, 2%)
        border-width: 1.5px

.htw-controls-button
    background-color: $pink
    border-color: $pink
    +font-text
    font-size: 1rem !important
    color: white
    &:hover, &:focus
        background-color: darken($pink, 5%)
        border-color: darken($pink, 10%)

.htw-notification
    bottom: 0
    left: 0
    margin-left: auto
    margin-right: auto
    position: absolute
    right: 0
    width: 50vw

.htw-notification-header
    color: $white